<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- Здесь должны находиться объявления компонентов -->
    <bean id="duke"
          class="com.education.spring.spring.Juggler">
        <constructor-arg value="15"/>
    </bean>
    <bean id="sonnet29" class="com.education.spring.spring.Sonnet29"/>
    <bean id="poeticDuke" class="com.education.spring.spring.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg>
            <bean class="com.education.spring.spring.Sonnet29"/>
        </constructor-arg>
    </bean>
    <bean id="theStage" class="com.education.spring.spring.Stage"
          factory-method="getInstance"/>

    <bean id="auditorium"
          class="com.education.spring.spring.Auditorium"
          init-method="turnOnLights"
          destroy-method="turnOffLights"/>

    <bean id="kenny"
          class="com.education.spring.spring.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <property name="age" value="37"/>
    </bean>

    <bean id="saxophone" class="com.education.spring.spring.Saxophone"/>

    <bean id="kenny2" class="com.education.spring.spring.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <property name="instrument" ref="piano"/>
    </bean>

    <bean id="piano" class="com.education.spring.spring.Piano"/>

    <bean id="kenny3" class="com.education.spring.spring.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <property name="instrument">
            <bean class="com.education.spring.spring.Saxophone"/>
        </property>
    </bean>

    <bean id="kenny4" class="com.education.spring.spring.Instrumentalist"
          p:song="Jingle Bells"
          p:instrument-ref="saxophone"/>

    <bean id="hank"
          class="com.education.spring.spring.OneManBand">
        <property name="instruments">
            <props>
                <prop key="GUITAR">STRUM STRUM STRUM</prop>
                <prop key="CYMBAL">CRASH CRASH CRASH</prop>
                <prop key="HARMONICA" >HUM HUM HUM</prop>
            </props>
        </property>
    </bean>
</beans>